li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

li.dev-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.dev-item header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

li.dev-item header div .user-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

li.dev-item header button {
  border: 0;
  background: #fff;
  align-self: flex-start;
  justify-content: flex-end;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item a {
  color: #8b4cf8;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.5s;
}

li.dev-item a:hover {
  color: #732bee;
}
